<div class="main">
  <div class="about">
    <h1>About the company</h1>
    <p>
      Welcome to XYZ Media, your ultimate destination for unlimited
      entertainment. At XYZ Media, we believe in the power of storytelling and
      the magic of cinema. We are a global streaming platform that brings
      together a vast collection of movies, TV shows, documentaries, and
      original series for your viewing pleasure.
    </p>

    <div *ngIf="privateAccess" class="cs-exclusive">
      <h1>Exclusive content for private users</h1>
      <p>
        Here we can place content that is only accessable to the logged in users.

      </p>
    </div>

    <h2>What We Offer</h2>

    <ul>
      <li>Original Series and Movies</li>
      <li>Personalized Recommendations</li>
      <li>Seamless Streaming Experience</li>
      <li>Flexible viewing options</li>
      <li>Social Interaction</li>
      <li>Worldwide Access</li>
    </ul>

    <h2>Our Key Members</h2>
    <p>
      <Span> <h3>Simhadri Madhu(Founder and CEO): </h3></Span>With his visionary leadership, Madhu has
      guided the company to become a global force in the entertainment industry. His
      strategic vision and commitment to innovation have propelled XYZ to
      new heights.
    </p>
    <p>
      <Span> <h3>Steve Rogers(Chief Content Officer): </h3></Span>Steve Rogers leads our
      content strategy, overseeing the acquisition and production of exceptional
      content that captivates audiences worldwide. With his keen eye for quality
      and his passion for storytelling, Steve has played a pivotal role in
      shaping XYZ's content library.
    </p>
    <p>
      <Span> <h3>Peter Parker (Chief Technology Officer): </h3></Span> Peter Parker leads our technical advancements, ensuring a
      seamless streaming experience for our subscribers. His expertise in
      streaming technologies and his dedication to innovation have kept XYZ
      at the forefront of the digital entertainment landscape.
    </p>
  </div>
</div>

<div class="contact-person">
  <h2>Support</h2>
  <p>
    If you have any questions or need assistance, feel free to contact our support team  <br />
    Email: xyzmedia@example.com<br />
  </p>
</div>
