<div class="flex-container">
  <div class="flex-item">
    <img src="assets/images/Movie1.jpg" alt="Image 1" />
  </div>
  <div class="flex-item">
    <img src="assets/images/Movie2.jpeg" alt="Image 2" />
  </div>
  <div class="flex-item">
    <img src="assets/images/Movie3.jpg" alt="Image 3" />
  </div>
  <div class="flex-item">
    <img src="assets/images/Movie4.jpg" alt="Image 4" />
  </div>
  <div class="flex-item">
    <img src="assets/images/show1.jpg" alt="Show 1" />
  </div>
  <div class="flex-item">
    <img src="assets/images/show2.jpg" alt="Show 2" />
  </div>
  <div class="flex-item">
    <img src="assets/images/show3.jpg" alt="Show 3" />
  </div>
  <div class="flex-item">
    <img src="assets/images/show4.jpg" alt="Show 4" />
  </div>
  <div class="flex-item">
    <img src="assets/images/show5.jpg" alt="Show 5" />
  </div>
  <div class="flex-item">
    <img src="assets/images/show6.jpg" alt="Show 6" />
  </div>
  <div class="flex-item">
    <img src="assets/images/show7.jpg" alt="Show 7" />
  </div>
  <div class="flex-item">
    <img src="assets/images/show8.jpg" alt="Show 8" />
  </div>
</div>
