<div class="tag-area" *ngIf="privateAccess">
  <app-tag-area [options]="userNames"> </app-tag-area>
</div>

<div *ngIf="privateAccess" class="cs-exclusive">
  <h1>Exclusive content for private users</h1>
  <h2>Movies</h2>
  <p>
    "Experience the thrill of our exclusive blockbuster movies,
    filled with captivating storytelling, breathtaking visuals, and
    unforgettable performances. Dive into an immersive cinematic journey that
    will keep you on the edge of your seat until the very end."
  </p>
  <h2>Shows</h2>
  <p>
    "Indulge in our exclusive TV shows, a gripping series that takes you
    into a world of suspense, drama, and intriguing plot twists. Immerse
    yourself in the lives of complex characters as they navigate through a web
    of secrets, alliances, and unexpected turns."
  </p>
</div>

<div class="flex-container">
  <div class="flex-item">
    <img src="assets/images/Movie1.jpg" alt="Image 1" />
    <h3>SPIDER MAN</h3>
    <p>
      Peter Parker's secret identity is revealed to the entire world. Desperate
      for help, Peter turns to Doctor Strange to make the world forget that he
      is Spider-Man. The spell goes horribly wrong and shatters the multiverse,
      bringing in monstrous villains that could destroy the world
    </p>
  </div>
  <div class="flex-item">
    <img src="assets/images/Movie2.jpeg" alt="Image 2" />
    <h3>AVENGERS</h3>
    <p>
      Earth's Mightiest Heroes stand as the planet's first line of defense
      against the most powerful threats in the universe. The Avengers began as a
      group of extraordinary individuals who were assembled to defeat Loki and
      his Chitauri army in New York City.
    </p>
  </div>
  <div class="flex-item">
    <img src="assets/images/Movie3.jpg" alt="Image 3" />
    <h3>INTERSTELLAR</h3>
    <p>
      Set in a future where a failing Earth puts humanity on the brink of
      extinction, it sees an intrepid team of NASA scientists, engineers and
      pilots attempt to find a new habitable planet, via interstellar travel.
    </p>
  </div>
  <div class="flex-item">
    <img src="assets/images/Movie4.jpg" alt="Image 4" />
    <h3>INCEPTION</h3>
    <p>
      A thief who steals corporate secrets through the use of dream-sharing
      technology is given the inverse task of planting an idea into the mind of
      a C.E.O., but his tragic past may doom the project and his team to
      disaster.
    </p>
  </div>
  <div class="flex-item">
    <img src="assets/images/show1.jpg" alt="Image 1" />
    <h3>LUCIFER</h3>
    <p>
      The series focuses on Lucifer Morningstar, a handsome, and powerful angel
      who was cast out of Heaven for his rebellion. As the Devil, Lucifer tires
      of the millennia he spent being the Lord of Hell, punishing people.
    </p>
  </div>
  <div class="flex-item">
    <img src="assets/images/show2.jpg" alt="Image 2" />
    <h3>THE VAMPIRE DIARIES</h3>
    <p>
      The lives, loves, dangers and disasters in the town, Mystic Falls,
      Virginia. Creatures of unspeakable horror lurk beneath this town as a
      teenage girl is suddenly torn between two vampire brothers.
    </p>
  </div>
  <div class="flex-item">
    <img src="assets/images/show3.jpg" alt="Image 3" />
    <h3>THE ORIGINALS</h3>
    <p>
      A family of power-hungry thousand-year-old vampires look to take back the
      city that they built and dominate all those who have done them wrong.
    </p>
  </div>
  <div class="flex-item">
    <img src="assets/images/show4.jpg" alt="Image 4" />
    <h3>LOST IN SPACE</h3>
    <p>
      After crash-landing on an alien planet, the Robinson family fight against
      all odds to survive and escape.
    </p>
  </div>
</div>
